#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>
#include <behaviors/rgbled_widget.dtsi>

/ {
    chosen {
        zmk,physical-layout = &layout_Akasha;
        zephyr,display = &oled;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        rows = <7>;
        columns = <8>;

        map = <
            RC( 1, 0)  RC( 2, 0)  RC( 3, 0)  RC( 4, 0)  RC( 5, 0)  RC( 6, 0)     RC( 1, 4)  RC( 2, 4)  RC( 3, 4)  RC( 4, 4)  RC( 5, 4)  RC( 6, 4)
            RC( 0, 1)  RC( 2, 1)  RC( 3, 1)  RC( 4, 1)  RC( 5, 1)  RC( 6, 1)     RC( 0, 5)  RC( 2, 5)  RC( 3, 5)  RC( 4, 5)  RC( 5, 5)  RC( 6, 5)
            RC( 0, 2)  RC( 1, 2)  RC( 3, 2)  RC( 4, 2)  RC( 5, 2)  RC( 6, 2)     RC( 0, 6)  RC( 1, 6)  RC( 3, 6)  RC( 4, 6)  RC( 5, 6)  RC( 6, 5)
            RC( 0, 3)  RC( 1, 3)  RC( 2, 3)  RC( 4, 3)  RC( 5, 3)  RC( 6, 3)     RC( 0, 7)  RC( 1, 7)  RC( 2, 7)  RC( 3, 7)  RC( 5, 7)  RC( 6, 7)
        >;
    };

    layout_Akasha: layout_Akasha {
        compatible = "zmk,physical-layout";
        display-name = "AkashaAntima";
        transform = <&default_transform>;
        kscan = <&kscan0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    5   37    1500    50   163>
            , <&key_physical_attrs 100 100  122   18    1500   150   113>
            , <&key_physical_attrs 100 100  213   11    1500   250   163>
            , <&key_physical_attrs 100 100  321   11    1500   350   150>
            , <&key_physical_attrs 100 100  449   57    1500   487   106>
            , <&key_physical_attrs 100 100  536   78    1500   550   200>
            , <&key_physical_attrs 100 100 1098   93 (-1500)  1125   200>
            , <&key_physical_attrs 100 100 1205   58 (-1500)  1225   172>
            , <&key_physical_attrs 100 100 1293   21 (-1500)  1325    75>
            , <&key_physical_attrs 100 100 1402   13 (-1500)  1450    88>
            , <&key_physical_attrs 100 100 1507   13 (-1500)  1550    88>
            , <&key_physical_attrs 100 100 1612   26 (-1500)  1650    88>
            , <&key_physical_attrs 100 100    0  148     500    50   263>
            , <&key_physical_attrs 100 100  111  132     500   150   213>
            , <&key_physical_attrs 100 100  213  124     500   250   263>
            , <&key_physical_attrs 100 100  325  124     500   334   169>
            , <&key_physical_attrs 100 100  430  166     500   463   209>
            , <&key_physical_attrs 100 100  536  194     500   547   225>
            , <&key_physical_attrs 100 100 1103  195  (-500)  1150   249>
            , <&key_physical_attrs 100 100 1207  159  (-500)  1257   207>
            , <&key_physical_attrs 100 100 1310  126  (-500)  1335   168>
            , <&key_physical_attrs 100 100 1417  120  (-500)  1460   175>
            , <&key_physical_attrs 100 100 1522  121  (-500)  1550   188>
            , <&key_physical_attrs 100 100 1628  133  (-500)  1650   188>
            , <&key_physical_attrs 100 100    6  258  (-500)    60   306>
            , <&key_physical_attrs 100 100  115  244  (-500)   168   289>
            , <&key_physical_attrs 100 100  221  234  (-500)   278   283>
            , <&key_physical_attrs 100 100  324  237  (-500)   375   283>
            , <&key_physical_attrs 100 100  429  277  (-500)   480   324>
            , <&key_physical_attrs 100 100  534  307  (-500)   583   357>
            , <&key_physical_attrs 100 100 1104  301     500  1116   333>
            , <&key_physical_attrs 100 100 1207  266     500  1230   314>
            , <&key_physical_attrs 100 100 1312  230     500  1325   275>
            , <&key_physical_attrs 100 100 1415  228     500  1450   288>
            , <&key_physical_attrs 100 100 1520  227     500  1550   288>
            , <&key_physical_attrs 100 100 1628  237     500  1650   288>
            , <&key_physical_attrs 100 100   20  365 (-1000)    70   411>
            , <&key_physical_attrs 100 100  353  407  (-500)   425   450>
            , <&key_physical_attrs 100 100  470  414    1000   525   450>
            , <&key_physical_attrs 100 100  550  506 (-4000)   575   500>
            , <&key_physical_attrs 100 100  700  500       0     0     0>
            , <&key_physical_attrs 100 100  920  500       0     0     0>
            , <&key_physical_attrs 100 100 1075  502    4000  1150   500>
            , <&key_physical_attrs 100 100 1158  407 (-1000)  1225   475>
            , <&key_physical_attrs 100 100 1268  404     500  1300   450>
            , <&key_physical_attrs 100 100 1614  343    1000  1650   388>
            ;
    };

    position_map {
        compatible = "zmk,physical-layout-position-map";
        
        layout_Akasha {
            physical-layout = <&layout_Akasha>;
            positions = <>;
        };
    };

    aliases {
        led-red = &led0;
        led-green = &led1;
        led-blue = &led2;
    };

    leds {
        compatible = "gpio-leds";
        status = "okay";
        led0: led_0 {
            gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;  // red LED, connected to P0.26
        };
        led1: led_1 {
            gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;  // green LED, connected to P0.30
        };
        led2: led_2 {
            gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;  // blue LED, connected to P0.06
        };
    };
};
    